{
  "processors": [
    "stylelint-processor-styled-components"
  ],
  "extends": [
    "stylelint-config-xo",
    "stylelint-config-styled-components"
  ],
  "rules": {
    "font-weight-notation": null,
    "declaration-colon-newline-after": null
  }
}
